<!DOCTYPE html>
<html>
  <head>
    <title><%-title%></title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="leaflet.css">
    <link rel='stylesheet' href='/stylesheets/style.css' /> 
    <link rel="stylesheet" href="sweetalert2.min.css">
</head>
 
  <body class="min-vh-100 p-0 m-0">
    <div class="position-fixed start-0 bottom-0 m-3 p-3 shadow border" style="z-index:9999">
        <button id="secretSauce" class="btn btn-primary bt-lg">Castillo más cercano</button>
        <button id="show" onclick="showcas()" class="btn btn-primary bt-lg">Ver castillos</button>
        <button id="anyadir" class="btn btn-primary bt-lg">Agregar castillo</button>
    </div>

    <div id="mapa" class="min-vh-100 vw-100"></div>               

    <script src="bootstrap.min.js"></script>
    <script src="leaflet.js"></script>
    <script src="sweetalert2.min.js"></script>
    <script src="javascripts/front.js"></script>
  </body>
</html>

<script>
  function showcas(){
    fetch("/api")
      .then( (response) =>{if(response.ok) return response.json()} )
      .then( (content) =>{
        var html = `<ol style="margin:0; list-style:none">`;
        content.forEach(el => {
            html += `<li style="margin-bottom:5px"><strong>${el.nombre}</strong>, ${el.pais} </li>`
          console.log(el.nombre)
        });
        html += `</ol>`;
        Swal.fire({
          title:"Listado de castillos:",
          html: html
        })
      } )
  }
</script>
